<!--<main class="form"-->
<div class="container">
  <table class="table table-bordered table-hover">
    <thead>
    <tr class="success">
      <th colspan="9"><h3><center>Food Details</center></h3></th>
    </tr>
    <tr class="success">
      <th><h5>ID</h5></th>
      <th><h5>TITLE</th>
      <th><h5>CATEGORY</h5></th>
      <th><h5>DESCRIPTION</h5></th>
      <th><h5>OWNER</h5></th>
      <th><h5>DATE CREATED</h5></th>
      <th><h5>DATE UPDATED</h5></th>
      <th><h5>FAVORITE</h5></th>
      <th><h5>ACTIONS</h5></th>

    </tr>
    </thead>
    <tbody class="table">

    <% @foods.each do |food|%>
    <tr class="active", align="center">
      <td><%= food.id %></td>
      <td><b><%= food.title %></b></td>
      <td><%= food.category %></td>
      <td><%= food.description %></td>
      <td><%= food.user.email %></td>
      <td>Created:<%= time_ago_in_words(food.created_at) %> ago</td>
      <td>Updated: <%= time_ago_in_words(food.updated_at) %> ago</td>
      <td><%= food.favorites.size %> Added</td>
      <td>
        <%= link_to 'SHOW', food_path(food), class: "btn btn-xs btn-primary" %>
        <% if food.user.id == current_user.id %>
        <%= link_to 'DELETE', food_path(food), method: :delete, data: { confirm: 'are you sure?'},class: "btn btn-xs btn-danger"  %>
          <%= link_to 'EDIT', edit_food_path(food),class: "btn btn-xs btn-success" %>
          <% else %>
              <% if Favorite.where(user_id: current_user, food_id: food.id).exists?  %>
            <%= "Added to Favorites" %>
              <% else %>
            <%= link_to 'ADD TO FAVORITES', add_fav_path(food), class: "btn btn-xs btn-primary"%>

              <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <center><%= will_paginate %></center>
</div>