<div class="container">

  <table class="table table-bordered">
    <thead>
    <tr class="success">
      <th colspan="8"><h2><center>Food Details</center></h2></th>
    </tr>

    <tr class="success">
      <th>ID</th>
      <th>TITLE</th>
      <th>CATEGORY</th>
      <th>DESCRIPTION</th>
      <th>POST BY</th>
      <th>DATE CREATED</th>
      <th>DATE UPDATED</th>
      <th>Actions</th>

    </tr>
    </thead>
    <tbody class="table table-hover">

    <% @foods.each do |food|%>
    <tr class="active", align="center">
      <td><%= food.id %></td>
      <td><b><%= food.title %></b></td>
      <td><%= food.category %></td>
      <td><%= food.description %></td>
      <td><%= food.user.email %></td>
      <td>Created:<%= time_ago_in_words(food.created_at) %> ago</td>
      <td>Updated: <%= time_ago_in_words(food.updated_at) %> ago</td>
      <td>
        <%= link_to 'SHOW', food_path(food), class: "btn btn-xs btn-primary" %>


        <% if food.user.id == current_user.id %>
        <%= link_to 'DELETE', food_path(food), method: :delete, data: { confirm: 'are you sure?'},class: "btn btn-xs btn-danger"  %>
          <%= link_to 'EDIT', edit_food_path(food),class: "btn btn-xs btn-success" %>
          <% else %>
              <% if !Favorite.where(food_id: food.id).exists?  %>
              <%= link_to 'ADD TO FAVORITES', add_fav_path(food), class: "btn btn-xs btn-primary"%>
              <% else %>
              <%= "Added to Favorites" %>
              <% end %>
        <% end %>
      </td>
    </tr>

    <% end %>
    </tbody>
  </table>
  <center><%= will_paginate %></center>
</div>