<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Food-Cart</a>
    </div>
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <% if current_user %>
      <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Create Food', new_food_path %></li>
      <li><%= link_to 'View all Food Post', foods_path %></li>
          <li><%= link_to 'My Favorites', favs_path %></li>
          <% if current_user.admin? %>
            <li><%= link_to 'View all Users', users_path %></li>
            <% end %>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">

        <% if current_user.admin? %>
          <li><a href="">Welcome Admin: <b><%= current_user.email %></b></a></li>
          <li><a href="">Admin ID: <b><%= current_user.id %></b></a></li>
          <% else %>
          <li><a href="">Welcome User: <b><%= current_user.email %></b></a></li>
          <li><a href="">User ID: <b><%= current_user.id %></b></a></li>
          <% end %>

        <% end  %>
    <% if user_signed_in? %>
      <li><%= link_to "Log-out", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Log-in", new_user_session_path%></li>
      <% end %>
    </ul>
  </div>
</nav>